#img{
    width: 45px;
    margin: auto;
    margin-top: 19px;
}

#cad{
    text-align: center;
    margin-top: 70px;
    font: normal arial;
}

#form{
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

#txte{
    border-radius: 7px;
    height: 30px;
    width: 250px;
    border: 2px solid rgba(21, 7, 92, 0.657);
}

#password{
    border-radius: 7px;
    height: 30px;
    width: 250px;
    border: 2px solid rgba(21, 7, 92, 0.657);
}

#btn{
    border-radius: 7px;
    height: 35px;
    width: 150px;
    background: blue;
    color: white;
    margin-top: 12px;
    border: 2px solid rgba(21, 7, 92, 0.657);
}

#ba{
    width: 30px;
    height: 30px;
    background-color: white;
    position: absolute;
    top: 30px;
    left: 20px;
}

#goo{
    width: 30px;
    height: 30px;
    margin-right: 180px;
    background-color: white;
    margin-top: 5px;
}

.bt{
    border: 1px solid rgba(0, 0, 0, 0.786);
    text-align: center;
    margin-top: 20px;
    border-radius: 7px;
}

#es{
    margin-top: -21px;
}

footer{
    text-align: center;
    font: italic;
    margin-top: 50px;
    color: rgb(24, 24, 124);
}

#subscribeNews{
    font-size: 15px;
    color: gray;
}

#cadastrar{
    background: none;
    position: absolute;
    margin-top: 2px;
    font-size: 15px;
}

#temlog{
    position: relative;
    right: 35px;
    
}
