img{
    width: 280px;
    height: 170px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
}

#login{
    border-radius: 10px;
    background: blue;
    color: white;
    margin: auto;
}
#cadastro{
    border-radius: 10px;
    background: blue;
    color: white;
    margin: auto;
}

footer{
    text-align: center;
    margin-top: 60px;
    font: italic
}

#logo{
    width: 45px;
    margin: auto;
    margin-top: 19px;
}