#logo{
    width: 45px;
    margin-top: 9px;
    margin-left: 10px;

}

#pesquisa{
    margin-left: 65px;
    margin-top: -45px;
    position: absolute;
    width: 225px;
    height: 27px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.26);
    background: rgba(128, 128, 128, 0.176);
    font-size: 13px;
}

#vh6{
    background: none;
    position: relative;
    right: 10px;

}

#h6{
    margin-left: 15px;
}

.img{
    margin-left: 7px;
    width: 100px;
    margin-top: 30px;
    border: 1px solid rgba(0, 0, 0, 0.429);
    border-radius: 5px;
    height: 56px;
}

#txtca{
    margin-left: 120px;
    margin-top: -60px;
    font-size: 15px;
}

#txtem{
    margin-left: 120px;
    margin-top: -15px;
    font-size: 13px;
}

#acess{
    border-radius: 6px;
    background: blue;
    color: white;
    height: 22px;
    margin-left: 260px;
    position: absolute;
    margin-top: -12px;

}

#more{
    text-align: center;
    color: blue;
    margin-top: 50px;
}

#menu{
    width: 50px;
    height: 50px;
    background: white;
}






